* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.header{
    background-color: #356C2A;
    color: #ffffff;
    padding: 2px;
    max-height: 2.5em;
}
.header-img{
    max-height: 2em;
    width: auto;
    margin: auto;
    display: block;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
}
button{
    border-radius: 3px !important;
    margin: auto !important;
    display: block !important;

}
button:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.btn-primary{
    background-color: #45713C;
    color: white !important;
    width: 80% !important;
    margin: auto !important;
    display: block !important;
}
.btn-primary:hover{
    background-color: #304f2a;
}

.w3-select{
    background-color: rgba(69,113,60,0.2) !important;
    width: 80% !important;
    margin: auto !important;
    display: block !important;
}

table{
    padding: 2px !important;
    background-color: rgba(69,113,60,0.2) !important;
    border: 1px solid #304f2a;
    width:95% !important;
    margin: 2pt auto 2px auto;
    display: block !important;
    border-radius: 2px !important;
}
tr, td, p{
    padding: 1px !important;
    margin-top: 1pt !important;
    margin-bottom: 1pt !important;
}

.tinyTxt{
    font-size: 0.8em;
}